@font-face {
  font-family: 'Fira Code';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/FiraCode-Regular.ttf2") format("ttf2"),
       url("../fonts/FiraCode-Regular.ttf") format("ttf");
}


@font-face {
  font-family: 'Fira Code Light Regular';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/FiraCode-LightRegular.woff2") format("woff2");
}


@font-face {
  font-family: 'Fira Code Light Bold';
  font-style:  bold;
  font-display: auto;
  font-weight: 700;
  src: url("../fonts/FiraCode-BoldRegular.woff2") format("woff2");
}

@font-face {
  font-family: 'Fira Code';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/FiraCode-Italic.ttf2") format("ttf2"),
       url("../fonts/FiraCode-Italic.ttf") format("ttf");
}

@font-face {
  font-family: 'Fira Code';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/FiraCode-Medium.ttf2") format("ttf2"),
       url("../fonts/FiraCode-Medium.ttf") format("ttf");
}
@font-face {
  font-family: 'Fira Code';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/FiraCode-MediumItalic.ttf2") format("ttf2"),
       url("../fonts/FiraCode-MediumItalic.ttf") format("ttf");
}

@font-face {
  font-family: 'Fira Code';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/FiraCode-Bold.ttf2") format("ttf2"),
       url("../fonts/FiraCode-Bold.ttf") format("ttf");
}
@font-face {
  font-family: 'Fira Code';
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/FiraCode-BoldItalic.ttf2") format("ttf2"),
       url("../fonts/FiraCode-BoldItalic.ttf") format("ttf");
}

